body {
  font-family: Raleway, sans-serif;
  margin: 0px;
}

.box {
  max-width: 1150px;
  margin: auto;
}

nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

ul {
  display: flex;
  list-style: none;
  align-items: center;
}

.logo {
  height: 50px;
  width: 100px;
  margin-top: 15px;
}

.nav-items {
  text-decoration: none;
  list-style: none;
  padding: 20px 25px;
  color: black;
  margin-top: 15px;
}

.nav-items:hover {
  color: #0065FC;
  border-top: 2px solid #0065FC;
}

.nav-items-sign-up {
  color: #0065FC;
  font-weight: bold;
}

.search-bar {
  display: inline;
}

input {
  padding: 10px;
  font-family: Raleway, sans-serif;
  font-weight: bold;
  border: transparent;
  font-size: 16px;
  margin-bottom: 25px;
  border-top: #F2F2F2 solid 2px;
  border-bottom: #F2F2F2 solid 2px;
}

.search-button {
  border-radius: 0px 10px 10px 0px;
  color: white;
  background-color: #0065FC;
  padding: 13px;
  border: transparent;
}

.intro h2 {
  margin-bottom: 0px;
  margin-top: 40px;
}

.intro p {
  margin-bottom: 15px;
  font-size: 15px;
}

.wrapper {
  display: flex;
  flex-direction: row;
  margin: 15px;
  align-items: center;
}

.intro i {
  color: black;
  border-radius: 10px 0px 0px 10px;
  padding: 15px 20px 15px 20px;
  background-color: #F2F2F2;
  margin: 0px;
}

.wrapper h5 {
  margin-right: 15px ;
}

.filter-button {
  background-color: white;
  margin-right: 15px;
  border: 2px solid lightgray;
  border-radius: 25px;
  border-color: lightgray;
  padding-right: 10px;
  height: fit-content;
  cursor: pointer;
  padding-left: 0px;
  display: flex;
  align-items: center;
}

.filter-button i {
  color: #0065FC;
  background-color: #DEEBFF;
  padding: 12px;
  border-radius: 25px;
  margin: -2px;
}

.filter-button span {
  font-weight: bold;
  padding-left: 10px;
}

.filter-button :hover {
  background-color: #DEEBFF;
}

.info {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.info i {
  border: #F2F2F2 solid 2px;
  border-radius: 25px;
  padding: 2px 5px;
  color: #0065FC;
  height: 10px;
  font-size: 10px;
}

.info p {
  font-size: 15px;
  margin: 10px;
}

main {
  display: flex;
}

.section-hebergement {
  background-color: #F2F2F2;
  border-radius: 15px;
  max-width: 700px;
  padding: 10px;
  margin-right: 50px;
}

.header-hebergement {
 margin: 25px 0px 5px 15px;
}

.wrapper-hebergement {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.section-hebergement img {
  height: 100px;
  width: 200px;
  border-radius: 15px 15px 0px 0px;
}

.hotel-info {
  background-color: white;
  border: 5px solid white;
  border-radius: 15px;
  margin: 10px;
  text-decoration: none;
}

.hotel-info img {
  object-fit: cover;
}

.hotel-name {
  font-weight: bold;
}

.hotel-info i {
  font-size: 12px;
  margin-bottom: 5px;
}

.hotel-info p {
  margin: 5px 0px 5px 5px;
  font-size: 12px;
  color: black;
}

.hotel-info i:first-of-type {
  margin-left: 5px;
}

.footer-hebergement h4 {
  margin-left: 15px;
}

.header-pop {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header-pop i {
  margin-right: 15px;
  font-size: 20px;
}

.header-pop h3 {
  margin-left: 15px;
}

.section-populaire {
  background-color: #F2F2F2;
  border-radius: 15px;
  max-width: 360px;
  padding: 10px;
}

.section-populaire img {
  height: 110px;
  width: 120px;
  border-radius: 15px 0px 0px 15px;
  margin-right: 10px;
}

.hotel-info-pop {
  background-color: white;
  border: 5px solid white;
  border-radius: 15px;
  margin: 25px;
  display: flex;
  text-decoration: none;
}

.hotel-info-pop p {
  font-size: 12px;
  color: black;
}

.hotel-name-pop {
  font-weight: bold;
}

.checked {
  color: #0065FC;
  font-size: 12px;
}

.not-checked {
  color: #F2F2F2;
  font-size: 12px;
}

.activity-marseille h3 {
  margin: 30px 0px 10px 0px;
}

.activity-marseille {
  display: flex;
  flex-flow: column wrap;
  max-height: 450px;
  width: fit-content;
}

.last-section img {
  border-radius: 15px 15px 0px 0px;
}

.last-section p {
  margin: 10px;
  font-weight: bold;
  font-size: 12px;
}

.big-image {
  height: 290px;
  width: 275px;
  object-fit: cover;
}

.medium-image {
  height: 140px;
  width: 270px;
  object-fit: cover;
}

.small-image {
  height: 100px;
  width: 270px;
  object-fit: cover;
}

.activity-info {
  border: solid 2px #F2F2F2;
  border-radius: 15px;
  margin: 0px 15px 10px 0px;
}

footer {
  display: flex;
  flex-wrap: wrap;
  background-color: #F2F2F2;
  margin-top: 20px;
  border-bottom: #F2F2F2 solid 15px;
}

.footer-text {
  margin-right: 150px;
  display: flex;
  flex-direction: column;
}

footer a {
  font-size: 13px;
  margin-top: 0px;
  margin-bottom: 10px;
  text-decoration: none;
  color: black;
}

@media all and (max-width: 1024px) {
  body {
  font-family: Raleway, sans-serif;
  }
}

@media all and (max-width: 480px) {

}