body {
  font-family: Raleway, sans-serif;
  margin: 0px;
}

.box {
  max-width: 1140px;
  margin: auto;
  padding: 0px 20px;
}

h1 {
  font-size: 25px;
}

h2 {
  font-size: 20px;
}

.hide-on-mobile {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.show-on-mobile {
  display: none;
}

ul {
  display: flex;
  list-style: none;
  align-items: center;
}

.logo {
  height: 50px;
  width: 100px;
  margin-top: 15px;
}

.nav-items {
  text-decoration: none;
  list-style: none;
  padding: 20px 25px;
  color: black;
  margin-top: 15px;
}

.nav-items:hover {
  color: #0065FC;
  border-top: 2px solid #0065FC;
}

.nav-items-sign-up {
  color: #0065FC;
  font-weight: bold;
}

input {
  padding-left: 10px;
  font-family: Raleway, sans-serif;
  font-weight: bold;
  border: transparent;
  font-size: 15px;
}

.search-button {
  border-radius: 0px 10px 10px 0px;
  color: white;
  background-color: #0065FC;
  border: transparent;
}

.search-icon {
  display: none;
}

.intro h1 {
  margin-bottom: 0px;
  margin-top: 40px;
}

.intro p {
  margin-bottom: 15px;
  font-size: 15px;
}

.wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 30px 0px 15px 15px;
  align-items: center;
}

.pin {
  color: black;
  border-radius: 10px 0px 0px 10px;
  padding: 13px;
  background-color: #F2F2F2;
  margin: 0px;
}

.intro-search {
  border-bottom: 1px solid #F2F2F2;
  border-radius: 15px;
  border-top: #F2F2F2 solid 1px;
  width: fit-content;
  height: fit-content;
}

.wrapper h2 {
  margin: 20px 0px 20px 0px;
  font-size: 15px;
}

.filter-button {
  background-color: white;
  margin-left: 15px;
  border: 2px solid lightgray;
  border-radius: 25px;
  border-color: lightgray;
  padding-right: 10px;
  height: fit-content;
  cursor: pointer;
  padding-left: 0px;
  display: flex;
  align-items: center;
}

.filter-button i {
  color: #0065FC;
  background-color: #DEEBFF;
  padding: 12px;
  border-radius: 25px;
  margin: -2px;
}

.filter-button span {
  font-weight: bold;
  padding-left: 10px;
}

.wrapper button:hover {
  background-color: #DEEBFF;
  background-clip: padding-box;
  border: 2px solid #deebff;
}

.info {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.info i {
  border: #F2F2F2 solid 2px;
  border-radius: 25px;
  padding: 2px 5px;
  color: #0065FC;
  height: 10px;
  font-size: 10px;
}

.info p {
  font-size: 15px;
  margin: 10px;
}

.mid-section-wrapper {
  display: flex;
}

.section-hebergement {
  background-color: #F2F2F2;
  border-radius: 15px;
  padding: 10px;
  margin-right: 20px;
}

.header-hebergement {
 margin: 25px 0px 5px 15px;
}

.hebergement-row-one {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.hebergement-row-two {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.section-hebergement img {
  height: 100px;
  width: 200px;
  border-radius: 15px 15px 0px 0px;
}

.hotel-info {
  background-color: white;
  border: 5px solid white;
  border-radius: 15px;
  margin: 10px;
  text-decoration: none;
}

.hotel-info img {
  object-fit: cover;
}

.hotel-name {
  font-weight: bold;
}

.hotel-info i {
  font-size: 12px;
  margin-bottom: 5px;
}

.hotel-info p {
  font-size: 12px;
  color: black;
  margin-left: 5px;
}

.hotel-info i:first-of-type {
  margin-left: 5px;
}

.footer-hebergement h3 {
  margin-left: 15px;
}

.header-pop {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header-pop i {
  margin-right: 15px;
  font-size: 20px;
}

.header-pop h2 {
  margin-left: 15px;
}

.section-populaire {
  background-color: #F2F2F2;
  border-radius: 15px;
  min-width: 350px;
  padding-top: 10px;
}

.section-populaire img {
  height: 110px;
  width: 120px;
  border-radius: 15px 0px 0px 15px;
  margin-right: 15px;
}

.hotel-info-pop {
  background-color: white;
  border: 5px solid white;
  border-radius: 15px;
  margin: 25px;
  display: flex;
  text-decoration: none;
}

.hotel-info-pop p {
  font-size: 12px;
  color: black;
}

.hotel-name-pop {
  font-weight: bold;
}

.checked {
  color: #0065FC;
  font-size: 12px;
}

.not-checked {
  color: #F2F2F2;
  font-size: 12px;
}

.activity-marseille h2 {
  margin: 30px 0px 10px 0px;
}

.activity-marseille {
  display: flex;
  flex-direction: row;
  max-height: 450px;
}

.last-section img {
  border-radius: 15px 15px 0px 0px;
  object-fit: cover;
  width: 100%;
  height: 90%;
}

.last-section p {
  margin: 10px;
  font-weight: bold;
  font-size: 12px;
}

.info-wrapper-one {
  display: flex;
}

.info-wrapper-two {
  display: flex;
  flex-direction: column;
}

.info-wrapper-three {
  display: flex;
}

.info-wrapper-four {
  display: flex;
  flex-direction: column;
}

.activity-info {
  border: solid 2px #F2F2F2;
  border-radius: 15px;
  margin: 0px 10px 10px 0px;
}

footer {
  background-color: #F2F2F2;
  margin-top: 20px;
  border-bottom: #F2F2F2 solid 15px;
}

.footer-wrap {
  display: flex;
  flex-direction: row;
}

.footer-text {
  margin-right: 200px;
  display: flex;
  flex-direction: column;
}

.footer-text h4 {
  font-size: 14px;
}

footer a {
  font-size: 13px;
  margin-top: 0px;
  margin-bottom: 10px;
  text-decoration: none;
  color: black;
}

@media all and (max-width: 1140px) {
  .mid-section-wrapper {
    display: flex;
    flex-flow: column wrap;
    padding: 0px;
  }
  
  .section-hebergement {
   order: 2;
   max-width: none;
   margin: 10px 0px;
   background-color: white;
  }

  .section-hebergement img{
    margin: 0px;
    height: 55%;
    width: 100%;
  }

  .hotel-info {
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 2px solid #F2F2F2;
    border-radius: 15px;
    margin: 10px;
    text-decoration: none;
    max-width: 320px;
    max-height: 200px;
  }

  .hotel-info img {
    height: 55%;
    width: 100%;
    border-radius: 15px 15px 0px 0px;
    object-fit: cover;
  }

  .section-populaire {
    padding: 10px;
    border-radius: 0px;
  }

  .section-populaire img {
    margin: 0px;
  }

  .wrapper-pop {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .hotel-info-pop {
    display: block;
    background-color: white;
    border: 5px solid white;
    border-radius: 15px;
    margin: 10px;
    text-decoration: none;
    max-width: 320px;
  }

  .hotel-info-pop img {
    height: 55%;
    width: 100%;
    border-radius: 15px 15px 0px 0px;
    object-fit: cover;
  }
  
}

@media all and (max-width: 1024px) {
 .box {
   padding: 0px 20px;
 }

 .mid-section-wrapper {
   padding: 0px;
 }

}

@media all and (max-width: 550px) {

  .box {
    margin: auto;
  }

  .hide-on-mobile {
    display: none;
  }

  .show-on-mobile {
    display: block;
  }

  .mobile-nav-top {
    display: flex;
    justify-content: space-between;
    padding: 0px;
    align-items: center;
  }

  .mobile-nav-bottom {
    display: flex;
    justify-content: space-around;
    padding: 0px;
    margin-top: 30px;
  }

  .nav-items {
    border-bottom: 2px solid #F2F2F2;
    padding: 20px 55px;
  }
  
  .nav-items:hover {
    color: #0065FC;
    border-bottom: 2px solid #0065FC;
    border-top: none;
  }

  .logo {
    margin: 0px;
  }

  .nav-items-sign-up:hover {
    border: none;
  }

  .nav-items-sign-up {
    border: none;
    padding: 0px;
  }

  .wrapper {
    display: flex;
    flex-flow: row wrap;
  }

  .wrapper h3 {
    margin-right: 200px;
  }

  .pin {
    padding-top: 15px;
  }

  .search-icon {
    font-size: 20px;
    border-radius: 12px;
    display: inline;
    color: white;
    background-color: #0065FC;
  }

  .search-icon-button {
    background-color: #0065FC;
    border-radius: 12px;
    border: none;
    padding: 12px;
  }

  .search-button {
    display: none;
  }

  .filter-button {
    margin-bottom: 10px;
  }

  .mid-section-wrapper {
    display: flex;
    flex-direction: column;
    padding: 0px;
  }

  .section-hebergement {
    margin-right: 0px;
    background-color: white;
    order: 2;
  }

  .hebergement-row-one {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .hebergement-row-two {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .hotel-info {
    border: solid 2px #F2F2F2;
    padding: 3px;
  }

  .hotel-info img {
    height: 115px;
    width: 330px;
    object-fit: cover;
  }

  .section-populaire {
    background-color: #F2F2F2;
    padding-top: 10px;
    max-width: none;
  }

  .section-populaire img {
    height: 110px;
    width: 120px;
    border-radius: 15px 0px 0px 15px;
    margin-right: 15px;
  }

  .wrapper-pop {
    display: block;
  }

  .hotel-info-pop {
    margin: 25px 25px 25px 15px;
    display: flex;
    flex-direction: row;
    max-width: none;
  }

  .activity-marseille {
    display: flex;
    flex-flow: column nowrap;
    max-height: none;
    max-width: none;
 }

  .activity-info img {
    height: 115px;
    width: 330px;
    object-fit: cover;
  }

  .activity-info {
    max-width: none;
  }

  .footer-wrap {
    display: flex;
    flex-direction: column;
  }
}